#mount {
  width: 100%;
  margin: 0;
  padding: 0;
}
.outerbox {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: auto;
  padding: 0;
  max-width: none;
}
.login {
  margin: auto;
  margin-top: 200px;
  max-width: 800px;
  width: 80%;
}
@media only screen and (max-width: 992px) {
  .login {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 992px) {
  .login_buttons {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
  }
}
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav-list li a {
  padding: 0 8px;
}
#logout a {
  margin-right: 8px;
}
nav .brand-logo {
  margin-left: 16px;
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 15%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.game-list {
  width: 80%;
  clear: both;
  margin: auto;
}
.gametitle {
  text-align: center;
}
.games {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}
#signup {
  margin-right: 16px;
  background-color: #2a87bf;
}
.nav-button {
  float: right;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: auto;
}

.row .col .s9 {
  margin: 0;
  padding: 0;
  margin-left: none;
  float: none;
}

.loading {
  display: flex;
  width: 100%;
  min-height: 128px;
  align-items: center;
  justify-content: center;
}

.gameview {
  float: none;
  width: 75%;
  margin: auto;
  margin-top: 70px;
}

.time {
  z-index: 1000;
  position: fixed;
  left: calc(100% - 128px);
  top: calc(100% - 128px);
}
.game_title {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 12px;
  font-size: 16px;
}
#userinfo h5 {
  width: 33%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}
.username {
  padding-left: 8px;
}
@media only screen and (max-width: 992px) {
  .username {
    padding-left: 0px;
  }
}
.profile_public {
  padding: 64px;
  display: flex;
  flex-flow: row;
  width: 100vw;
}
.profile_public img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.profile_public > div {
  display: flex;
  justify-content: flex-end;
  padding-left: 32px;
  padding-top: 4px;
  flex-flow: column wrap;
}
@media only screen and (max-width: 992px) {
  .profile_public {
    flex-flow: column;
    align-items: center;
  }
  .profile_public > div {
    padding-left: 0px;
    align-items: center;
  }
}
#search_icon {
  left: 0;
  margin-top: -2px;
}
#search_close {
  margin-top: 8px;
}
.btn {
  margin-top: 8px;
}
.auth_error {
  position: fixed;
  width: 100vw;
  top: 180px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .auth_error {
    top: 100px;
  }
}

/* COLORS */
body {
  background-color: rgb(48, 51, 49);
  color: #fff;
}
.game_title {
  background-color: rgb(68, 72, 69);
}
.nav {
  background-color: rgb(32, 93, 186);
}
#userinfo {
  background-color: rgb(48, 69, 80);
}